.myModal{
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background-color:rgba(0,0,0,0.5);
   opacity: 0;
   pointer-events: none;
   transition: all 0.5s ease 0s;
   display: flex;
   justify-content: center;
   align-items: center;
}
.myModal.active{
   opacity: 1;
   pointer-events: all;
}
.myModal__content{
   padding: 25px;
   background-color: #fff;
   border-radius: 16px;
   min-width: 300px;
   transform:scale(0.5);
   transition:transform 0.5s ease 0s;
}
.myModal__content.open{
   padding: 25px;
   background-color: #fff;
   border-radius: 16px;
   min-width: 300px;
   transform:scale(1);
}