@import '../App.module.scss';
@import './Buttons.module.scss';

.banner {
  @include adaptiv-value("padding-top",100,80,1);
   @include adaptiv-value("margin-bottom",100,50,1);
 }
 
 
 .banner__wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   img{
    border-radius:15px;
   }
 }
 
 .banner__overlay {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 20px;
   border-radius: 0;
 }
 
 .banner__title {
  @include adaptiv-value("font-size",60,25,1);
   line-height: 1.28;
  @include adaptiv-value("margin-bottom",30,15,1);
   color: #000000;
 }
 