@import '../App.module.scss';

.cart__title {
   font-size: 36px;
   line-height: 1.44;
   color: #000000;
   text-align: left;
   margin: 0px 0px 60px 30px;
   padding-top: 80px;
   border-bottom: 1px solid #000;
 }
 
 .cart__grid {
   display: grid;
   grid-template-columns: 1fr 300px;
   grid-gap: 100px;
   @media (max-width:767px) {
    grid-template-columns: 1fr;
    gap:50px;
    margin-bottom: 30px;
   }
 }
 
 .cart__list {
   display: flex;
   flex-direction: column;
 }

 .cart__empty{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  min-height: 100vh;
  padding: 0 10px;
  img{
    max-width: 100%;
  }
 }
 
