@import '../App.module.scss';

.cart__title {
   font-size: 36px;
   line-height: 1.44;
   color: #000000;
   text-align: center;
   margin-bottom: 60px;
 }
 
 .cart__grid {
   display: grid;
   grid-template-columns: 1fr 300px;
   grid-gap: 100px;
 }
 
 .cart__list {
   display: flex;
   flex-direction: column;
 }

 .cart__empty{
  margin: 60px auto;
  max-width: 500px;
  text-align: center;
  h2{
    margin-bottom: 50px;
  }
 }
 