@import './Buttons.module.scss';
@import '../App.module.scss';
.category__item {
   position: relative;
   display: flex;
   flex-direction: column;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
  img{
    border-radius:15px;
  }
 }
 
 .category__overlay {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   @include adaptiv-value("padding",30,20,1);
}