@import '../App.module.scss';
@import './Buttons.module.scss';
.category {
   margin-bottom: 100px;
 }
 
 @media (max-width: 1200px) {
   .category {
     margin-bottom: 70px;
   }
 }
 
 @media (max-width: 768px) {
   .category {
     margin-bottom: 50px;
   }
 }
 
 .category__title {
   text-align: center;
   margin-bottom: 60px;
 }
 
 @media (max-width: 1200px) {
   .category__title {
     margin-bottom: 40px;
   }
 }
 
 @media (max-width: 768px) {
   .category__title {
     margin-bottom: 20px;
   }
 }
 
 .category__grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
 }
 
 @media (max-width: 1200px) {
   .category__grid {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 @media (max-width: 768px) {
   .category__grid {
     grid-template-columns: repeat(1, 1fr);
   }
 }
 