@import '../App.module.scss';
@import './Buttons.module.scss';
.category {
  @include adaptiv-value("margin-bottom",100,50,1);
 }
 
 .category__title {
   text-align: center;
   @include adaptiv-value("margin-bottom",60,20,1);
   border-bottom:1px solid #000;
   @include adaptiv-value("font-size",36,26,1);
   line-height: 1.44;
   color: #000000;
 }
 
 .category__grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   @include adaptiv-value("gap",30,20,1);
 }
 
 @media (max-width: 1200px) {
   .category__grid {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 @media (max-width: 768px) {
   .category__grid {
     grid-template-columns: repeat(1, 1fr);
   }
 }
 