@import '../App.module.scss';
.footer {
   padding: 20px 0;
   background-color: #f5f5f5;
 }
 
 .footer__wrapper {
   text-align: center;
 }
 
 .footer__copyright {
   font-size: 14px;
   text-transform: uppercase;
 }