.header {
   padding: 20px 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 70px;
  z-index: 100;
  background-color: rgba(255,255,255,0.75);
 }
  .container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1650px;
 }
 
 .header__wrapper {
   display: flex;
   align-items: center;
   gap:5px;
 }
 .header__auth{
  flex: 0 1 33.333%;
  display: flex;
  gap:15px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
 }
 .header__logo{
  flex: 0 1 33.333%;
 display: flex;
 justify-content: center;
 align-items: center;
 }
 .navbar{
  flex: 0 1 33.333%;
 }
 .navbar ul {
  align-self: end;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-end;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
 }
 
 .navbar__icon {
   position: relative;
   display: block;
   padding: 0px 10px;
 }
 
 .navbar__icon svg {
   width: 25px;
   height: 25px;
 }
 
 .number {
   position: absolute;
   top: -10px;
   right: 2px;
   font-size: 12px;
   background-color: #da3f3f;
   height: 22px;
   width: 22px;
   color: #fff;
   line-height: 22px;
   border-radius: 50%;
   text-align: center;
 }