@import "../App.module.scss";

.items__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include adaptiv-value("gap",30,20,1);
  margin-bottom: 50px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: auto;
  }
}
.items__title{
   text-align: center;
   margin-top: 20px;
   border-bottom:1px solid #000;
   @include adaptiv-value("font-size",36,26,1);
   @include adaptiv-value("margin-bottom",50,25,1);
   line-height: 1.44;
   color: #000000;
}
.items__notfound{
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.items__filter{
  display:flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width:767px) {
    flex-direction: column;
    justify-content: center;
    gap:20px;
  }
}

.items__error{
  text-align: center;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.items__pagination{
display: flex;
justify-content: center;
align-items: center;
@include adaptiv-value("font-size",22,18,1);
@include adaptiv-value("gap",20,10,1);
@include adaptiv-value("margin-bottom",20,10,1);
}

.pagination__button{
flex:0 1 30px;
text-align: center;
cursor: pointer;
border:2px solid #000;
border-radius:10px;
}
.pagination__current{
  border:2px solid orange;
  font-weight: 700;
}