@import "../App.module.scss";

.items__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: auto;
  }
}
.items__title{
   text-align: center;
   margin-top: 20px;
   border-bottom:1px solid #000;
}
.items__notfound{
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
