@import '../App.module.scss';

.Register{
margin: 0px auto;
display: flex;
flex-direction: column;
justify-content: center;
min-height: calc(100vh - 84px);
align-items: center;
gap:10px;
a{
   text-decoration: underline;
}
}
.Title{
   font-size: 30px;
   margin-bottom: 10px;
}