@import '../App.module.scss';


.wishlist__title {
   text-align: left;
   @include adaptiv-value("margin-left",30,15,1);
   padding-top: 80px;
   border-bottom: 1px solid #000;
   @include adaptiv-value("font-size",36,26,1);
   @include adaptiv-value("margin-bottom",50,25,1);
   line-height: 1.44;
   color: #000000;
 }
 
 .wishlist__items{
  display: flex;
  flex-direction: column;
 }

 .list{
  flex: 1 1 100%;
 }
 .wish__modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:30px;
 }