@import '../App.module.scss';


.wishlist__title {
   text-align: left;
   margin: 0px 0px 60px 30px;
   padding-top: 80px;
   border-bottom: 1px solid #000;
 }
 
 @media (max-width: 1200px) {
   .wishlist__title {
     margin-bottom: 40px;
   }
 }
 
 @media (max-width: 768px) {
   .wishlist__title {
     margin-bottom: 20px;
   }
 }
 .wishlist__items{
  display: flex;
  flex-direction: column;
 }

 .list{
  flex: 1 1 100%;
 }