@import './Buttons.module.scss';
.item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #EEEEEE;
   padding: 20px;
   @media (max-width:540px) {
   flex-direction: column;
   gap:15px;
   }
 }
 .item:last-child{
  margin-bottom:20px;
 }
 
 .item + .item {
   margin-top: 20px;
 }
 
 .item__content {
   display: flex;
   align-items: center;
   @media (max-width:540px) {
    justify-content: center;
    margin-bottom: 20px;
   }
 }
 .item__delete {
   padding: 0;
   background-color: transparent;
   border: 0;
   cursor: pointer;
 }
 
 .item__delete svg {
   width: 25px;
   height: 25px;
 }
 .item__body {
   display: flex;
   align-items: flex-start;
   color: #000;
 }
 
 .item__image {
   display: block;
   margin: 0 20px;
   max-width: 75px;
 }
 
 .item__title {
   font-weight: 500;
   font-size: 18px;
 }
 
 .item__price {
   font-size: 14px;
   margin-top: 10px;
 }
 
 .item__buttons {
   text-align: right;
   @media (max-width:540px) {
   text-align: center;
   }
 }
 .item__btn {
   padding: 10px 20px;
   font-size: 14px;
 }

 .item__count{
display: flex;
align-items: center;
gap:10px;

 }
.item__button{
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 0;
  width: 32px;
  cursor:pointer;
  &_minus{
    svg path:first-of-type{
      display: none;
    }
  }
  svg path{
    fill:#000;
  }
  &_outlined{
    background-color: #fff;
    border-color: #EEEEEE;
    
  }
  @media (any-hover:hover) {
    &:hover{
      border-color: #000;
    }
  }
  &_disabled{
    cursor:inherit;
    svg path{
      fill:#EEEEEE;
    }
    &:hover{
      border-color: #EEEEEE;
    }
  }
}