@import './styles/mixins/Mixins.scss';
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1650px;
  flex: 1 1 auto;
}

button{
  border-radius: 20px;
  border: 1px solid transparent;
}

.product__content{
  max-width:300px;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px auto;
  @include adaptiv-value('margin-bottom',50,20,1);
  padding-top: 100px;
  @include adaptiv-value('gap',50,30,1)
}
.product__button{
align-self: start;
}


 