.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1650px;
  flex: 1 1 auto;
}

button{
  border-radius: 20px;
  border: 1px solid transparent;
}


 