$max-width: 1920;
$maxWidthContainer: 1650;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type == 1 {
    // only if less than container width
    #{$property}: $startSize + px;
    @media(max-width: #{$maxWidthContainer +px}) {
      #{$property}: calc(
        #{$minSize +px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type == 2 {
    // only if bigger than container width
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer +px}) {
      #{$property}: calc(
        #{$minSize +px} + #{$addSize} * ((100vw - 320px) / #{$max-width - 320})
      );
    }
  } @else {
    //always
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$max-width - 320})
    );
  }
}
